<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Madame To</title>
</head>
<body>
    <header>
        <img src="../media/images/Logo.svg" alt="Logo" class="logo">
        <a href="javascript:void(0)" class="showButtons" id="showButtons" onclick="showButtons()">
            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
        </a>
        <div class="header--buttons header--buttons--hidden" id="header-buttons">
            <a href="#button-grammar" class="button__green" onclick="showGH()" id="button-grammar-header">
                Grammar
            </a>

            <a href="#button-vocabulary" class="button__red" onclick="showVH()" id="button-vocabulary-header">
                Vocabulary
            </a>
        </div>
    </header>

    <section class="container">
        <div class="container--herocard">
            <div class="herocard--main">
                <div class="herocard--col">
                    <h1>
                        Herocard Title
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                    </p>
                </div>
                <div class="herocard--col">
                    <img src="../media/images/HeroImage.svg" alt="Imagen Herocard">
                </div>
            </div>
        </div>

        <div class="container--main">
            <div class="container--cols">
                <div class="main--col">
                    <div class="buttonsSwitches">
                        <a href="javascript:void(0)" id="button-vocabulary" onclick="showV()" class="buttonSwitch buttonSwitch--checked">
                            <span>Vocabulary</span>
                            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
                        </a>
                        <p class="vocabulary" id="vocabulary">
                            Accountant: Contador <br>
                            Actor / Actress: Actor y actriz <br>
                            Air hostess: Azafata <br>
                            Architect: Arquitecto <br>
                            Baker: Panadero <br>
                            Biologis: Biólogo/a <br>
                            Bus driver: Conductor/a de autobús <br>
                            Businessman /Businesswoman: Empresario/a,
                            hombre/mujer de negocios <br>
                            Caretaker: Portero <br>
                            Carpenter: Carpintero/a <br>
                            Chemist: Químico <br>
                            Cook / Chef: Cocinero <br>
                            Dancer: Bailarín <br>
                            Dentist: Dentista <br>
                            Designer: Diseñador <br>
                            Doctor: Médico/a <br>
                            Farmer: Granjero, agricultor <br>
                            Fireman: Bombero <br>
                            Fisherman: Pescador <br>
                            Gardener: Jardinero/a <br>
                            Hairdresser: Peluquero/a <br>
                            Journalist: Periodista <br>
                            Judge: Juez <br>
                            Lawyer: abogado/a <br>
                            Mailman: Cartero <br>
                            Mechanic: Mecánico/a <br>
                            Model: Modelo <br>
                            Nanny: Niñera <br>
                            Nurse: Enfermero/a <br>
                            Painter: Pintor <br>
                            Pastry cook: Pastelero, repostero <br>
                            Pharmacist: Farmacéutico <br>
                            Photographer: Fotógrafo <br>
                            Policeman / Policewoman: Policía <br>
                            Politician: Político <br>
                            Porter: Conserje <br>
                            Postman: Cartero <br>
                            Professions (profesiones) <br>
                            Psychologist: Psicólogo/a <br>
                            Recepcionist: Recepcionista <br>
                            Salesman: Vendedor <br>
                            Scientist: Científico <br>
                            Shoemaker: Zapatero <br>
                            Singer: Cantante <br>
                            Social worker: Trabajador social <br>
                            Sportsman: deportista <br>
                            Surgeon: Cirujano <br>
                            Taxi driver: Taxista <br>
                            Teacher: Profesor/a (Primaria y Secundaria) <br>
                            Travel agent: Agente de viajes <br>
                            Veterinarian: Veterinario <br>
                            Waiter/ waitress: Camarero/ camarera <br>
                            Writer: Escritor
                        </p>

                        <a href="javascript:void(0)" id="button-grammar" onclick="showG()" class="buttonSwitch">
                            <span>Grammar</span>
                            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
                        </a>
                        <p class="grammar hidden" id="grammar">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum est hic autem vitae at ut
                            fugit eum laborum voluptatem, maiores nobis ipsa doloribus neque esse, ratione accusamus!
                            Aspernatur voluptatum magni minima ex eligendi amet esse suscipit atque. Nam, optio. Dicta,
                            ullam. Veniam, deserunt doloremque voluptatibus, nesciunt commodi laborum quia facilis
                            praesentium rerum quidem consectetur omnis quod voluptatum quis culpa pariatur adipisci.
                            Sed, a iste aliquid cupiditate perferendis labore omnis deleniti facere unde vitae, vel
                            earum assumenda ad consequuntur! Laboriosam tempore perspiciatis illum. Debitis architecto
                            magni beatae! Veritatis eos sit ab, quod amet in vitae officia corrupti! Temporibus dolore
                            esse ducimus cupiditate hic ipsum facere vero quibusdam optio, cumque atque at eaque illum
                            quo libero totam nostrum eum necessitatibus reprehenderit aspernatur error dolor! Tempore
                            rerum quae unde itaque exercitationem. Tempora eaque molestiae ab ut sapiente laborum beatae
                            tempore officiis vitae vero. Doloribus recusandae porro, voluptates facere neque nam? Et
                            iure fugit, repellendus iusto suscipit nobis saepe laboriosam eveniet earum tempora
                            aspernatur adipisci nisi, dolor tempore est porro voluptas exercitationem necessitatibus
                            nulla inventore impedit magnam tenetur reiciendis voluptatem. Ad nesciunt maxime, asperiores
                            veritatis vel cupiditate error, magni itaque laboriosam, nam expedita. Error blanditiis non
                            soluta perspiciatis dolores doloribus, reprehenderit animi quidem culpa aperiam neque hic.
                            Expedita, quisquam rerum. Eaque, minima! Expedita incidunt nulla necessitatibus repellendus
                            deserunt molestiae fuga veniam, natus voluptates similique vitae vero dolores at repudiandae
                            provident commodi quos totam, facilis, temporibus dolorem sint. Officia eum amet delectus
                            voluptatibus quis? Temporibus praesentium commodi quisquam ducimus quaerat, optio ipsum
                            nesciunt inventore, alias necessitatibus magnam, eaque vel esse eligendi blanditiis dolor.
                            Ea ut, reiciendis itaque harum nobis id. Repellat optio voluptatum mollitia velit eos.
                            Veniam est nulla dolore obcaecati temporibus, blanditiis ipsam saepe a accusamus quos
                            incidunt illum provident molestias voluptatem! Autem quas quisquam nulla quidem eaque
                            officiis. Enim, numquam. Obcaecati, doloribus ex assumenda, esse expedita necessitatibus
                            ratione perferendis suscipit at quisquam consectetur accusantium atque dolores iure! Dolores
                            atque vel nesciunt repellendus nihil excepturi ipsam similique saepe quas dolorum quae
                            recusandae libero at, cumque iure, in sunt reprehenderit asperiores. Eligendi, praesentium
                            cumque earum nulla aliquam rerum, quam dolor totam, dolorum numquam possimus saepe! Esse
                            expedita quis molestiae assumenda animi deserunt quos? Provident doloremque cupiditate
                            perspiciatis dolor, rerum voluptatibus, cum totam dignissimos voluptatum quos natus odio
                            maiores delectus blanditiis incidunt at placeat id alias eaque non aspernatur! Labore
                            veritatis error quaerat ex dolores adipisci nostrum id iure velit? Laborum iure aliquam non
                            sint assumenda!
                        </p>
                    </div>
                </div>
                <div class="main--col">
                    <h2>
                        Cards
                    </h2>
                    <h3>
                        Professions
                    </h3>
                    
                    <a href="javascript:void(0)" class="card card--professions1" onclick="showModal('modal1')">
                        <!-- Card -->
                    </a>
    
                    <a href="javascript:void(0)" class="card card--professions2" onclick="showModal('modal2')">
                        <!-- Card -->
                    </a>

                    <a href="javascript:void(0)" class="card card--professions3" onclick="showModal('modal4')">
                        <!-- Card -->
                    </a>
    
    
                    <h3>
                        Present Progressive
                    </h3>
    
                    <a href="javascript:void(0)" class="card card--presentProgessive" onclick="showModal('modal3')">
                        <!-- Card -->
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>
            © 2021 | All rights reserved. Madame To ®
        </p>
    </footer>

    <div class="modalOverlay" id="modal1">
        <div class="modal p1">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal1" onclick="backModal('modal1')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal1" onclick="hideModal('modal1')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie1')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie2')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie3')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie4')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie5')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie6')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie7')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie8')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie9')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie10')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie11')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie12')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie13')">
                        Question 13
                    </a>
                </div>

                <div class="moda__activity" id="activity__p">
                    <img src="../media/images/Tasks/Professions_1/P-Card1.jpg" class="hidden" id="activitie1" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card2.jpg" class="hidden" id="activitie2" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card3.jpg" class="hidden" id="activitie3" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card4.jpg" class="hidden" id="activitie4" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card5.jpg" class="hidden" id="activitie5" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card6.jpg" class="hidden" id="activitie6" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card7.jpg" class="hidden" id="activitie7" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card8.jpg" class="hidden" id="activitie8" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card9.jpg" class="hidden" id="activitie9" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card10.jpg" class="hidden"  id="activitie10" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card11.jpg" class="hidden"  id="activitie11" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card12.jpg" class="hidden"  id="activitie12" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card13.jpg" class="hidden"  id="activitie13" alt="Professions">
                </div>
            </div>
        </div>
    </div>



    <div class="modalOverlay" id="modal2">
        <div class="modal p2">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal2" onclick="backModal2('modal2')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal2" onclick="hideModal('modal2')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p2">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie27')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie28')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie29')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie30')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie31')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie32')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie33')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie34')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie35')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie36')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie37')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie38')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie39')">
                        Question 13
                    </a>
                </div>

                <div class="moda__activity" id="activity__p2">
                    <img src="../media/images/Tasks/Professions_3/P-Card27.jpg" class="hidden" id="activitie27" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card28.jpg" class="hidden" id="activitie28" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card29.jpg" class="hidden" id="activitie29" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card30.jpg" class="hidden" id="activitie30" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card31.jpg" class="hidden" id="activitie31" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card32.jpg" class="hidden" id="activitie32" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card33.jpg" class="hidden" id="activitie33" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card34.jpg" class="hidden" id="activitie34" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card35.jpg" class="hidden" id="activitie35" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card36.jpg" class="hidden"  id="activitie36" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card37.jpg" class="hidden"  id="activitie37" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card38.jpg" class="hidden"  id="activitie38" alt="Professions">

                    <img src="../media/images/Tasks/Professions_3/P-Card39.jpg" class="hidden"  id="activitie39" alt="Professions">
                </div>
            </div>
        </div>
    </div>



    <div class="modalOverlay" id="modal4">
        <div class="modal p3">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal4" onclick="backModal4('modal4')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal4" onclick="hideModal('modal4')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p4">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie14')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie15')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie16')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie17')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie18')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie19')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie20')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie21')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie22')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie23')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie24')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie25')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP3('activitie26')">
                        Question 13
                    </a>
                </div>

                <div class="moda__activity" id="activity__p4">
                    <img src="../media/images/Tasks/Professions_2/P-Card14.jpg" class="hidden" id="activitie14" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card15.jpg" class="hidden" id="activitie15" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card16.jpg" class="hidden" id="activitie16" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card17.jpg" class="hidden" id="activitie17" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card18.jpg" class="hidden" id="activitie18" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card19.jpg" class="hidden" id="activitie19" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card20.jpg" class="hidden" id="activitie20" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card21.jpg" class="hidden" id="activitie21" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card22.jpg" class="hidden" id="activitie22" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card23.jpg" class="hidden" id="activitie23" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card24.jpg" class="hidden"  id="activitie24" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card25.jpg" class="hidden"  id="activitie25" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card26.jpg" class="hidden"  id="activitie26" alt="Professions">
                </div>
            </div>
        </div>
    </div>



    <div class="modalOverlay" id="modal3">
        <div class="modal pp">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal3" onclick="backModal3('modal3')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal3" onclick="hideModal('modal3')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p3">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP1')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP2')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP3')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP4')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP5')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP6')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP7')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP8')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP9')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP10')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP11')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP12')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP13')">
                        Question 13
                    </a>
                </div>

                <div class="moda__activity" id="activity__p3">
                    <img src="../media/images/Tasks/PresentProgressive/PP-Card1.jpg" class="hidden" id="activitiePP1" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card2.jpg" class="hidden" id="activitiePP2" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card3.jpg" class="hidden" id="activitiePP3" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card4.jpg" class="hidden" id="activitiePP4" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card5.jpg" class="hidden" id="activitiePP5" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card6.jpg" class="hidden" id="activitiePP6" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card7.jpg" class="hidden" id="activitiePP7" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card8.jpg" class="hidden" id="activitiePP8" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card9.jpg" class="hidden" id="activitiePP9" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card10.jpg" class="hidden"  id="activitiePP10" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card11.jpg" class="hidden"  id="activitiePP11" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card12.jpg" class="hidden"  id="activitiePP12" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card13.jpg" class="hidden"  id="activitiePP13" alt="Professions">
                </div>
            </div>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>