<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Madame To</title>
</head>
<body>
    <header>
        <img src="../media/images/Logo.svg" alt="Logo" class="logo">
        <div class="header--buttons">
            <a href="javascript:void(0)" class="button__green">
                Grammar
            </a>

            <a href="javascript:void(0)" class="button__red">
                Vocabulary
            </a>
        </div>
    </header>

    <section class="container">
        <div class="container--herocard">
            <div class="herocard--col">
                <h1>
                    Herocard Title
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.
                </p>
            </div>
            <div class="herocard--col">
                <img src="../media/images/HeroImage.svg" alt="Imagen Herocard">
            </div>
        </div>
    </section>
</body>
</html>