<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../media/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Madame To</title>
</head>
<body>
    <header>
        <img src="../media/images/Logo.svg" alt="Logo" class="logo">
        <a href="javascript:void(0)" class="showButtons" id="showButtons" onclick="showButtons()">
            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
        </a>
        <div class="header--buttons header--buttons--hidden" id="header-buttons">
            <a href="#button-grammar" class="button__green" onclick="showGH()" id="button-grammar-header">
                Grammar
            </a>
            
            <a href="#button-vocabulary" class="button__red" onclick="showVH()" id="button-vocabulary-header">
                Vocabulary
            </a>
            
            <a href="javascript:void(0)" class="button__yellow">
                Mission
            </a>

            <a href="javascript:void(0)" class="button__yellow">
                Vision
            </a>
        </div>
    </header>

    <section class="container">
        <div class="container--herocard">
            <div class="herocard--main">
                <div class="herocard--col">
                    <h1>
                        Why choose us?
                    </h1>
                    <p>
                        Learning English is easy, fun and enjoyable thanks to Madame To. <br>
                        Our game prioritizes learning without leaving behind the fun that it should have, in order to make the student participate in their own training
                    </p>
                </div>
                <div class="herocard--col">
                    <img src="../media/images/HeroImage.svg" alt="Imagen Herocard">
                </div>
            </div>
        </div>

        <div class="container--main">
            <div class="container--cols">
                <div class="main--col">
                    <div class="buttonsSwitches">
                        <a href="javascript:void(0)" id="button-vocabulary" onclick="showV()" class="buttonSwitch buttonSwitch--checked">
                            <span>Vocabulary</span>
                            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
                        </a>
                        <p class="vocabulary" id="vocabulary">
                            Accountant: Contador <br>
                            Actor / Actress: Actor y actriz <br>
                            Air hostess: Azafata <br>
                            Architect: Arquitecto <br>
                            Baker: Panadero <br>
                            Biologis: Biólogo/a <br>
                            Bus driver: Conductor/a de autobús <br>
                            Businessman /Businesswoman: Empresario/a,
                            hombre/mujer de negocios <br>
                            Caretaker: Portero <br>
                            Carpenter: Carpintero/a <br>
                            Chemist: Químico <br>
                            Cook / Chef: Cocinero <br>
                            Dancer: Bailarín <br>
                            Dentist: Dentista <br>
                            Designer: Diseñador <br>
                            Doctor: Médico/a <br>
                            Farmer: Granjero, agricultor <br>
                            Fireman: Bombero <br>
                            Fisherman: Pescador <br>
                            Gardener: Jardinero/a <br>
                            Hairdresser: Peluquero/a <br>
                            Journalist: Periodista <br>
                            Judge: Juez <br>
                            Lawyer: abogado/a <br>
                            Mailman: Cartero <br>
                            Mechanic: Mecánico/a <br>
                            Model: Modelo <br>
                            Nanny: Niñera <br>
                            Nurse: Enfermero/a <br>
                            Painter: Pintor <br>
                            Pastry cook: Pastelero, repostero <br>
                            Pharmacist: Farmacéutico <br>
                            Photographer: Fotógrafo <br>
                            Policeman / Policewoman: Policía <br>
                            Politician: Político <br>
                            Porter: Conserje <br>
                            Postman: Cartero <br>
                            Professions (profesiones) <br>
                            Psychologist: Psicólogo/a <br>
                            Recepcionist: Recepcionista <br>
                            Salesman: Vendedor <br>
                            Scientist: Científico <br>
                            Shoemaker: Zapatero <br>
                            Singer: Cantante <br>
                            Social worker: Trabajador social <br>
                            Sportsman: deportista <br>
                            Surgeon: Cirujano <br>
                            Taxi driver: Taxista <br>
                            Teacher: Profesor/a (Primaria y Secundaria) <br>
                            Travel agent: Agente de viajes <br>
                            Veterinarian: Veterinario <br>
                            Waiter/ waitress: Camarero/ camarera <br>
                            Writer: Escritor
                        </p>

                        <a href="javascript:void(0)" id="button-grammar" onclick="showG()" class="buttonSwitch">
                            <span>Grammar</span>
                            <img src="../media/images/ArrowDown.svg" alt="ArrowDown">
                        </a>
                        <p class="grammar hidden" id="grammar">
                            To form the present continuous, the auxiliary verb "to be" and the verb + ing are used.
                            <br></br>
                            The grammar structure is:  <br>
                            In affirmative: Subject+ verb to be+ verb+ ing <br>
                            example: he is learning  <br>
                            In negative: Subject+ verb to be+ not+ verb+ ing  <br>
                            example: I am not doing my homework <br>
                            In interrogative: verb to be+ subject + verb+ ing + ? <br>
                            example: Are they playing the piano?
                            <br></br>
                            Auxiliars: <br>
                            I: am <br>
                            She/he/it: is <br>
                            They/we/you: are <br>
                        </p>
                    </div>
                </div>
                <div class="main--col">
                    <h2>
                        Cards
                    </h2>
                    <h3>
                        Professions
                    </h3>
                    
                    <a href="javascript:void(0)" class="card card--professions1" onclick="showModal('modal1')">
                        <!-- Card -->
                    </a>
    
                    <a href="javascript:void(0)" class="card card--professions2" onclick="showModal('modal2')">
                        <!-- Card -->
                    </a>
    
                    <h3>
                        Present Progressive
                    </h3>
    
                    <a href="javascript:void(0)" class="card card--presentProgessive" onclick="showModal('modal3')">
                        <!-- Card -->
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>
            © 2021 | All rights reserved. Madame To ®
        </p>
    </footer>

    <div class="modalOverlay" id="modal1">
        <div class="modal p1">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal1" onclick="backModal('modal1')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal1" onclick="hideModal('modal1')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie1')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie2')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie3')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie4')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie5')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie6')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie7')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie8')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie9')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie10')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie11')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie12')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie13')">
                        Question 13
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie14')">
                        Question 14
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie15')">
                        Question 15
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie16')">
                        Question 16
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie17')">
                        Question 17
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie18')">
                        Question 18
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie19')">
                        Question 19
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie20')">
                        Question 20
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie21')">
                        Question 21
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie22')">
                        Question 22
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie23')">
                        Question 23
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie24')">
                        Question 24
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie25')">
                        Question 25
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP('activitie26')">
                        Question 26
                    </a>
                </div>

                <div class="moda__activity" id="activity__p">
                    <img src="../media/images/Tasks/Professions_1/P-Card1.jpg" class="hidden" id="activitie1" alt="Professions">
                    <audio controls class="hidden" id="activitie1-audio">
                        <source src="../media/audios/Professions_1/P-Card1/P-Card1.mp3" type="audio/mp3">
                        <source src="../media/audios/Professions_1/P-Card1/P-Card1.ogg" type="audio/mp3">
                            Tu navegador no soporta audio HTML5.
                    </audio>

                    <img src="../media/images/Tasks/Professions_1/P-Card2.jpg" class="hidden" id="activitie2" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card3.jpg" class="hidden" id="activitie3" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card4.jpg" class="hidden" id="activitie4" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card5.jpg" class="hidden" id="activitie5" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card6.jpg" class="hidden" id="activitie6" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card7.jpg" class="hidden" id="activitie7" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card8.jpg" class="hidden" id="activitie8" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card9.jpg" class="hidden" id="activitie9" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card10.jpg" class="hidden"  id="activitie10" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card11.jpg" class="hidden"  id="activitie11" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card12.jpg" class="hidden"  id="activitie12" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card13.jpg" class="hidden"  id="activitie13" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card14.jpg" class="hidden"  id="activitie14" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card15.jpg" class="hidden"  id="activitie15" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card16.jpg" class="hidden"  id="activitie16" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card17.jpg" class="hidden"  id="activitie17" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card18.jpg" class="hidden"  id="activitie18" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card19.jpg" class="hidden"  id="activitie19" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card20.jpg" class="hidden"  id="activitie20" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card21.jpg" class="hidden"  id="activitie21" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card22.jpg" class="hidden"  id="activitie22" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card23.jpg" class="hidden"  id="activitie23" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card24.jpg" class="hidden"  id="activitie24" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card25.jpg" class="hidden"  id="activitie25" alt="Professions">

                    <img src="../media/images/Tasks/Professions_1/P-Card25.jpg" class="hidden"  id="activitie26" alt="Professions">
                </div>
            </div>
        </div>
    </div>


    <div class="modalOverlay" id="modal2">
        <div class="modal p2">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal2" onclick="backModal2('modal2')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal2" onclick="hideModal('modal2')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p2">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie27')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie28')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie29')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie30')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie31')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie32')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie33')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie34')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie35')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie36')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie37')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie38')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie39')">
                        Question 13
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie40')">
                        Question 14
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie41')">
                        Question 15
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie42')">
                        Question 16
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie43')">
                        Question 17
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie44')">
                        Question 18
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie45')">
                        Question 19
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie46')">
                        Question 20
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie47')">
                        Question 21
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie48')">
                        Question 22
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie49')">
                        Question 23
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie50')">
                        Question 24
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie51')">
                        Question 25
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitieP2('activitie52')">
                        Question 26
                    </a>
                </div>

                <div class="moda__activity" id="activity__p2">
                    <img src="../media/images/Tasks/Professions_2/P-Card27.jpg" class="hidden" id="activitie27" alt="Professions">
                    <audio controls class="hidden" id="activitie27-audio">
                        <source src="../media/audios/Professions_2/P-Card27/P-Card27.mp3" type="audio/mp3">
                        <source src="../media/audios/Professions_2/P-Card27/P-Card27.ogg" type="audio/mp3">
                            Tu navegador no soporta audio HTML5.
                    </audio>

                    <img src="../media/images/Tasks/Professions_2/P-Card28.jpg" class="hidden" id="activitie28" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card29.jpg" class="hidden" id="activitie29" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card30.jpg" class="hidden" id="activitie30" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card31.jpg" class="hidden" id="activitie31" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card32.jpg" class="hidden" id="activitie32" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card33.jpg" class="hidden" id="activitie33" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card34.jpg" class="hidden" id="activitie34" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card35.jpg" class="hidden" id="activitie35" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card36.jpg" class="hidden"  id="activitie36" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card37.jpg" class="hidden"  id="activitie37" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card38.jpg" class="hidden"  id="activitie38" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card39.jpg" class="hidden"  id="activitie39" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card40.jpg" class="hidden"  id="activitie40" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card41.jpg" class="hidden"  id="activitie41" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card42.jpg" class="hidden"  id="activitie42" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card43.jpg" class="hidden"  id="activitie43" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card44.jpg" class="hidden"  id="activitie44" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card45.jpg" class="hidden"  id="activitie45" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card46.jpg" class="hidden"  id="activitie46" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card47.jpg" class="hidden"  id="activitie47" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card48.jpg" class="hidden"  id="activitie48" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card49.jpg" class="hidden"  id="activitie49" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card50.jpg" class="hidden"  id="activitie50" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card51.jpg" class="hidden"  id="activitie51" alt="Professions">

                    <img src="../media/images/Tasks/Professions_2/P-Card52.jpg" class="hidden"  id="activitie52" alt="Professions">
                </div>
            </div>
        </div>
    </div>

    
    <div class="modalOverlay" id="modal3">
        <div class="modal pp">
            <div class="modal__header">
                <a href="javascript:void(0)" class="modal__buttonBack" id="buttonBack__modal3" onclick="backModal3('modal3')">
                    <img src="../media/icons/icon-ArrowBack.svg" alt="Arrow Back">
                </a>
    
                <a href="javascript:void(0)" class="modal__buttonClose" id="buttonClose__modal3" onclick="hideModal('modal3')">
                    <img src="../media/icons/icon-CloseModal.svg" alt="Close">
                </a>
            </div>
            <div class="modal__body">
                <div class="modal__buttons" id="contbuttons__p3">
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP1')">
                        Question 1
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP2')">
                        Question 2
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP3')">
                        Question 3
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP4')">
                        Question 4
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP5')">
                        Question 5
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP6')">
                        Question 6
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP7')">
                        Question 7
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP8')">
                        Question 8
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP9')">
                        Question 9
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP10')">
                        Question 10
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP11')">
                        Question 11
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP12')">
                        Question 12
                    </a>
                    <a href="javascript:void(0)" class="buttonModal" onclick="ActivitiePP('activitiePP13')">
                        Question 13
                    </a>
                </div>

                <div class="moda__activity" id="activity__p3">
                    <img src="../media/images/Tasks/PresentProgressive/PP-Card1.jpg" class="hidden" id="activitiePP1" alt="Professions">
                    <audio controls class="hidden" id="activitiePP1-audio">
                        <source src="../media/audios/PresentProgressive/PP-Card1/PP-Card1.mp3" type="audio/mp3">
                        <source src="../media/audios/PresentProgressive/PP-Card1/PP-Card1.ogg" type="audio/mp3">
                            Tu navegador no soporta audio HTML5.
                    </audio>

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card2.jpg" class="hidden" id="activitiePP2" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card3.jpg" class="hidden" id="activitiePP3" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card4.jpg" class="hidden" id="activitiePP4" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card5.jpg" class="hidden" id="activitiePP5" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card6.jpg" class="hidden" id="activitiePP6" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card7.jpg" class="hidden" id="activitiePP7" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card8.jpg" class="hidden" id="activitiePP8" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card9.jpg" class="hidden" id="activitiePP9" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card10.jpg" class="hidden"  id="activitiePP10" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card11.jpg" class="hidden"  id="activitiePP11" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card12.jpg" class="hidden"  id="activitiePP12" alt="Professions">

                    <img src="../media/images/Tasks/PresentProgressive/PP-Card13.jpg" class="hidden"  id="activitiePP13" alt="Professions">
                </div>
            </div>
        </div>
    </div>

    <script src="../js/main.js"></script>
</body>
</html>